body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_div {
  height: 450px;
  width: 430px;
  background-color: dimgray;
}

.main_div Input {
  width: 26rem;
  left: 50px;
}

.main_div h1 {
  margin-bottom: 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: wheat;
  font-size: 30px;
}

.main_div Button {
  background-color: cadetblue;
  color: black;
  font-weight: bolder;
  right: 10px;
  font-size: 15px;
}

.main_div Button:hover {
  background-color: darkslategray;
}

.list-item {
  width: 380px;
  height: 33px;
  margin-top: 25px;
  font-size: 18px;
  background-color: whitesmoke;
  color: black;
}

.delete-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.delete-btn {
  top: 26px;
  /* margin-right: 20px; */
  margin-left: 10px;
}

.removebtn {
  left: 36%;
}

.dark_mode_btn {
  left: 90%;

}